body {
    font-family: "Roboto", sans-serif;
    font-weight:normal;
    font-style: normal;
    color: #434455;
    font-size: 16px;
    background-color: #ffffff;
    line-height: 1.5;
}
.heading {
    background-color: #2E2F42
}
h1 {
    color: white;
    font-weight: bold;
}
h2 {
    font-weight: bold;
}
h3 {
    font-weight: 500;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 4%;
}
.heading button {
    background-color: #4D5AE5;
    color: white;
}
.nav_bar .logo_nav:active {
    color: #404BBF;
    text-decoration: underline;
}
/* Hover Stateler */
.heading button:hover {
    background-color: #404BBF;
    color: white;
}
.nav_bar ul .stp li a:hover {
    color: #404BBF;
}
.address ul li a:hover {
    color: #404BBF;
}
.team {
    background-color: #F4F4FD;
}
ul {
    list-style-type: none;
}
.footer .logo_footer:active { 
    color: #404BBF;
    text-decoration: underline;
}
.address ul li {
    font-style: normal;
    font-family: "Roboto";
}
.nav_bar ul .stp li {
    font-weight: 500;
}
.nav_bar .logo_nav .logo_studio_nav {
    color: #2E2F42;
}
.nav_bar .logo_nav {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer .logo_footer {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
}
.footer .logo_footer .logo_studio_footer {
    color: #F4F4FD;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.nav_bar ul .stp li a{
    color: #2E2F42;
}
.address ul li a {
    color: #434455;
}